@import '../../../app.component.scss';

h1,
h2 {
  text-align: center;
}
h1{
  margin-bottom: 50px;
}
::ng-deep .level .solid-stroke-container {
  margin-bottom: 400px;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 565px;
  height: 464.39px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 85px;
}

.title {
  width: 304px;
  height: 32px;
  @include fontSize32;
  color: black;
}

.attempts-block {
  display: flex;
  flex-direction: colmn;
  align-items: flex-end;
  padding: 20px 0px 0px;
  gap: 5px;
  width: 238px;
  height: 41px;
}

.attempts-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 238px;
  height: 21px;
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  gap: 10px;
  width: 665px;
  height: 267.39px;
  left: 0px;
  top: 133px;
  background: #ffffff;
  border-radius: 10px;
  outline: 1px dashed $dashedStrokeGrey;
  outline-offset: -4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.button-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 255px;
  height: 34px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
}

::ng-deep .button-restart button {
  width: 109px;
}

::ng-deep .button-leave button {
  width: 136px;
}
::ng-deep .title-button-start button {
  width: 109px;
  background-image: $loginButtonBackground;
}
::ng-deep .title-button-start button {
  width: 109px;
  background-image: $loginButtonBackground;
}
::ng-deep .title-button-start button:hover {
  background-image: $loginHoverButtonBackground;
}
::ng-deep .title-button-start button:active {
  background-image: $pressedLoginButton;
}

::ng-deep .title-button-cancel button {
  width: 136px;
}

.hearts-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 152px;
  height: 22px;
}

.speaker {
  width: 56px;
  height: 56px;
  background-image: url(^assets/img/speaker.png);
  background-repeat: no-repeat;
  opacity: 0.9;
  cursor: pointer;
}
.speaker:hover,
.speaker-on {
  transform: scale(0.95);
}
.speaker:active {
  transform: scale(0.9);
  opacity: 1;
}

.guess-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;
  width: 600px;
  height: 34px;
}

.guess-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  width: 146px;
  height: 30px;
  padding: 0;
  border: 1px dashed black;
  border-radius: 10px;
  color: $fontNormalColor;
  @include font14;
  cursor: pointer;
  &.guess-button:hover {
    border: 1px solid black;
  }
}


.heart {
  width: 30px;
  height: 22px;
  background-image: url(/assets/img/white-heart.png);
  background-repeat: no-repeat;
}

.red-heart {
  animation-name: hearts-animation;
  animation-duration: 3s;
  background-image: url(/assets/img/red-heart.png);
  background-repeat: no-repeat;
}

.attempt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-image: url(/assets/img/small-grey-circle.png);
  background-repeat: no-repeat;
}
.attempt-success {
  animation-name: attempt-animation;
  animation-duration: 1s;
  width: 25px;
  height: 25px;
  background-image: url(/assets/img/green-check-mark.png);
}
.attempt-failed {
  animation-name: attempt-animation;
  animation-duration: 1s;
  width: 25px;
  height: 25px;
  background-image: url(/assets/img/red-cross.png);
}
.from-textbook {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 450px;
}
.title-buttons-container {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.right-answer-button:active {
  background-color: $rightAnswerButton;
  border: none;
}
.right-answer-keyboard {
  background-color: $rightAnswerButton;
  border: none;
}
.wrong-answer-button:active {
  background-color: $wrongAnswerButton;
  border: none;
}
.wrong-answer-keyboard {
  background-color: $wrongAnswerButton;
  border: none;
}

.progress-scale {
  width: 200px;
}
.speaker-disable,
button-disable {
  opacity: 0.3;
  cursor: auto;
}
.speaker-disable:hover {
  transform: scale(1);
}
.button-disable:hover {
  border: 1px dashed black;
}
.key-number {
  margin-left: 5px;
  @include font12;
  color: $transcriptionColor;
  width: 5px;
}
.key-word {
  margin-right: 10px;
  word-wrap: break-word;
  width: 110px;
}
.instructions {
  color: $transcriptionColor !important;
  @include font12;
  margin-top: 50px;
  opacity:0;
}
@keyframes attempt-animation {
  from {
    transform: scale(.1);

  }
  to {
    transform: scale(1);

  }
}
@keyframes hearts-animation {
  0% {
    transform: scale(.1);

  }
  20% {
    transform: scale(1);

  }
  40% {
    transform: scale(.5);

  }
  60% {
    transform: scale(1);

  }
  80% {
    transform: scale(.5);

  }
  100% {
    transform: scale(1);

  }
}
  .no-show{
    opacity:1;
    transition: 2s;
  }

