<form [formGroup]="form" class="authorization">
  <div class="border">
    <div class="user-form">
      <h2 class="heading-2">Registration</h2>
      <div class="input-fields">
        <input
          placeholder="Name"
          type="text"
          class="input"
          formControlName="name"
          id="name"
          [ngClass]="{
            invalid: form.get('name')?.invalid && form.get('name')?.touched
          }" />
        <p
          *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
          class="error">
          Enter valid name(min length 8)
        </p>
        <input
          placeholder="Email"
          formControlName="email"
          type="email"
          name="email"
          class="input"
          id="email"
          [ngClass]="{
            invalid: form.get('email')?.invalid && form.get('email')?.touched
          }" />
        <p
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          class="error">
          Enter valid email
        </p>
        <input
          placeholder="Password"
          formControlName="password"
          type="password"
          name="password"
          class="input"
          id="password"
          [ngClass]="{
            invalid:
              form.get('password')?.invalid && form.get('password')?.touched
          }" />
        <p
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          class="error">
          Min length 8
        </p>
      </div>
      <div class="user-buttons">
        <button type="submit" class="login button-green" (click)="goToLogin()">
          Login
        </button>
        <button
          class="register button-orange"
          (click)="onRegistration()"
          [disabled]="form.invalid || form.disabled">
          Register
        </button>
      </div>
    </div>
    <div class="text-image">
      <div class="text-wrapper">
        <div class="text-done">
          <img src="assets/img/Vector 11.svg" alt="done" />
          <p>Save hard words</p>
        </div>
        <div class="text-done">
          <img src="assets/img/Vector 11.svg" alt="done" />
          <p>Save your progress</p>
        </div>
        <div class="text-done">
          <img src="assets/img/Vector 11.svg" alt="done" />
          <p>Save your statistics</p>
        </div>
      </div>
      <div class="wrapper-image">
        <img src="assets/img/006 1.png" alt="book" />
      </div>
    </div>
  </div>
</form>
