<div class="main-wrapper">
  <div class="road-images-wrapper">
    <div class="road">
      <img
        src="../../../../assets/img/Ellipse 2.png"
        alt="Ellipse"
        class="ellipse1" />
      <img
        src="../../../../assets/img/Ellipse 2.png"
        alt="Ellipse"
        class="ellipse2" />
      <img src="../../../../assets/img/road.png" alt="Road" />
      <img
        src="../../../../assets/img/Ellipse 2.png"
        alt="Ellipse"
        class="ellipse3" />
    </div>
    <div class="learn">
      <img src="../../../../assets/img/learn-words.png" alt="Learn-words" />
    </div>
    <div class="play">
      <img src="../../../../assets/img/play-games.png" alt="Play-games" />
    </div>
    <div class="get">
      <img src="../../../../assets/img/get-smarter.png" alt="Get-smarter" />
    </div>
    <div class="sun">
      <img src="../../../../assets/img/sun.png" alt="Sun" />
    </div>
  </div>
</div>
