@import '../../../app.component.scss';

.split-height {
  height: 90%;
}

.road-images-wrapper {
  width: 750px;
  height: 454px;
  overflow: hidden;
}
.main-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.learn{
  transform: translate(0%, -141%);
}
.play{
  transform: translate(46%, -206%);
}
.get{
  transform: translate(17%, -223%);
}
.sun{
  transform: translate(51%,-743%);
}
.road{
  transform: translate(29%, 20%);
  .ellipse1{
    transform:translate(175%, -1866%);
  }
  .ellipse2{
    transform: translate(1076%, -1276%);
  }
  .ellipse3{
    transform: translate(-239.2%, 31%);
  }
}
.games-wrapper{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap:30px;
  width: 100%;
  height: 100%;;
}
.game-wrapper{
  padding-top: 10px;
  box-sizing: border-box;
  overflow: hidden;
  height: 250px;
  .text-wrapper{
    border-radius: 10px;
    padding: 2px;
    height: 225px;
    background: $textInFormColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    z-index: -1;
  }
  img{
    transform: translate(7%, -95%)
  }
}
.text{
  padding-left: 180px;
}
button{
  @include button;
  &:hover{
    background: $gameMenuButtonBackground;
  }
  &:active{
    background: $gameMenuButtonPressedBackground;
  }
}
.border{
  @include border;
  border-radius: 8px;;
  margin: auto;
  margin:auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.black-border{
  @include border;
  border: 1px dashed black;
  border-radius: 10px;
}
.heading-3 {
  position: relative;
  @include heading3;
  margin-bottom: 30px;
  width: fit-content;
  z-index: 1;
}
.inner-text {
  @include font14;
  margin-bottom: 30px;
  line-height: 18px;
}
