@import '../../../app.component.scss';

.split-height {
  height: 90%;
}

.road-images-wrapper {
  width: 750px;
  height: 454px;
  overflow: hidden;
}
.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.learn {
  transform: translate(0%, -141%);
}
.play {
  transform: translate(46%, -206%);
}
.get {
  transform: translate(17%, -223%);
}
.sun {
  transform: translate(51%, -743%);
}
.road {
  transform: translate(29%, 20%);
  .ellipse1 {
    transform: translate(175%, -1866%);
  }
  .ellipse2 {
    transform: translate(1076%, -1276%);
  }
  .ellipse3 {
    transform: translate(-239.2%, 31%);
  }
}
.games-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  height: 100%;
}
.game-wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  height: fit-content;
}
.girl-img,
.boy-img {
  position: absolute;
  margin-left: 20px;
  top: -5px;
}
.text {
  padding-left: 180px;
}
button {
  @include button;
  &:hover {
    background: $gameMenuButtonBackground;
  }
  &:active {
    background: $gameMenuButtonPressedBackground;
  }
}
.border {
  @include border;
  border-radius: 8px;
  margin: auto;
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.black-border {
  @include border;
  border: 1px dashed black;
  border-radius: 10px;
}
.heading-3 {
  position: relative;
  @include heading3;
  margin-bottom: 30px;
  width: fit-content;
  z-index: 1;
}
.inner-text {
  @include font14;
  margin-bottom: 30px;
  line-height: 18px;
}

@media (min-width: 768px) and (max-width: 1279.99px) {
  .road-images-wrapper {
    width: 100%;
  }
  .split-height {
    display: none;
  }
  .games-wrapper {
    flex-direction: column-reverse;
  }
  .audio-challenge .dashed-container .text {
    padding-left: 0;
    padding-right: 180px;
  }
  .game-wrapper {
    margin-bottom: 50px;
  }
  .girl-img {
    top: -40px;
    margin-left: 580px;
  }
  .boy-img {
    top: -40px;
  }
  .heading-3 {
    margin-bottom: 20px;
  }
  .inner-text {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.99px) {
  .road-images-wrapper {
    width: calc(100vw - 20px);
    height: fit-content;
    img {
      width: 100%;
    }
  }
  .audio-challenge .dashed-container .text {
    padding-left: 0;
    padding-right: 130px;
  }
  .dashed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .games-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    gap: 10px;
  }
  .text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 120px;
  }
  .game-wrapper {
    margin-bottom: 50px;
  }
  .girl-img {
    width: 110px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
  }
  .boy-img {
    top: 0;
    bottom: 0;
    width: 110px;
    margin: auto;
  }
  .heading-3 {
    @include heading4;
    margin-bottom: 0;
  }
  .inner-text {
    display: none;
  }
}
