<div class="main-wrapper">
  <div class="road-images-wrapper">
    <div class="road">
      <img
        src="../../../../assets/img/Ellipse 2.png"
        alt="Ellipse"
        class="ellipse1" />
      <img
        src="../../../../assets/img/Ellipse 2.png"
        alt="Ellipse"
        class="ellipse2" />
      <img src="../../../../assets/img/road.png" alt="Road" />
      <img
        src="../../../../assets/img/Ellipse 2.png"
        alt="Ellipse"
        class="ellipse3" />
    </div>
    <div class="learn">
      <img src="../../../../assets/img/learn-words.png" alt="Learn-words" />
    </div>
    <div class="play">
      <img src="../../../../assets/img/play-games.png" alt="Play-games" />
    </div>
    <div class="get">
      <img src="../../../../assets/img/get-smarter.png" alt="Get-smarter" />
    </div>
    <div class="sun">
      <img src="../../../../assets/img/sun.png" alt="Sun" />
    </div>
  </div>
  <app-authorization></app-authorization>
</div>
<div class="games-wrapper">
  <div class="game-wrapper">
    <div class="text-wrapper">
      <div class="black-border">
        <div class="text">
          <h3>SPRINT MINI-GAME</h3>
          <p>
            Here will be the text about audio challenge mini-game and a little
            more text. Here will be the text about audio challenge mini-game.
          </p>
          <button [routerLink]="link2">
            <div class="border">TRY SPRINT</div>
          </button>
        </div>
      </div>
      <img src="assets/img/sprint.png" alt="Sprint" />
    </div>
  </div>
  <div class="game-wrapper">
    <div class="text-wrapper">
      <div class="black-border">
        <div class="text">
          <h3>AUDIO CHALLENGE MINI-GAME</h3>
          <p>
            Here will be the text about audio challenge mini-game and a little
            more text. Here will be the text about audio challenge mini-game.
          </p>
          <button [routerLink]="link1">
            <div class="border">TRY AUDIO CHALLENGE</div>
          </button>
        </div>
      </div>
      <img src="assets/img/audio.png" alt="Audio Challenge" />
    </div>
  </div>
</div>
