<div class="wrapper">
  <div class="statistics-types">
    <p
      class="type"
      (click)="changeState(stateObject.allTime)"
      [class.active]="state === stateObject.allTime">
      All time graph
    </p>
    <p
      class="type"
      (click)="changeState(stateObject.today)"
      [class.active]="state === stateObject.today">
      Learned today
    </p>
    <p
      class="type"
      (click)="changeState(stateObject.audio)"
      [class.active]="state === stateObject.audio">
      Audio challenge
    </p>
    <p
      class="type"
      (click)="changeState(stateObject.sprint)"
      [class.active]="state === stateObject.sprint">
      Sprint
    </p>
  </div>
  <app-all-time *ngIf="state === stateObject.allTime"></app-all-time>
  <app-audio *ngIf="state === stateObject.audio"></app-audio>
  <app-sprint *ngIf="state === stateObject.sprint"></app-sprint>
  <app-today *ngIf="state === stateObject.today"></app-today>
  <app-paginator
    [currentPage]="page"
    (newItemEvent)="page = $event"
    [pages]="totalPages"></app-paginator>
</div>
