@import '../../../app.component.scss';

.footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 50px;
  height: 18px;
  background-image: url(^assets/img/rs_school-logo.png);
}

.authors-links {
  display: flex;
  gap: 5px;
  margin: 30px;
}

.author-link {
  width: 30px;
  height: 30px;
}

.footer-year {
  @include font14;
}
