@import "../../../app.component.scss";

.author {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-content: flex-start;
}

.heading-5 {
  @include heading5;
}

.author-about {
  @include font12;
  line-height: 15px;
}

.author-photo {
  width: 115px;
  height: 115px;
  border-top: 4px solid;
  border-left: 4px solid;
  border-right: 11px solid;
  border-bottom: 11px solid;
  background-size: 115px;
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author-git {
  @include fontLink;
  background-image: url('../../../../assets/img/git_link_img.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  height: 20px;
  padding-left: 30px;
}

.author-features-list {
  @include font12;
}

.feature-item {
  list-style: none;
  line-height: 19px;
}

.feature-item::before {
  content: '';
  background-image: url('../../../../assets/img/list_ok_marker.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 25px;
}

.dashed-container {
  height: fit-content;
}

.authors-column {
  display: flex;
  flex-direction: column;
  width: calc((100% - $desktopIndent) / 2);
  gap: 30px;
}
