<div class="authors-column" *ngIf="!isPhone">
  <ng-container *ngFor="let author of authors; index as i">
    <div class="dashed-container author id-{{ author.id }}" *ngIf="!(i % 2)">
      <div class="author-photo" [style]="setAuthorPhotoStyle(author)"></div>
      <div class="author-info">
        <h5 class="heading-5">
          {{ author.firstName + ' ' + author.secondName }}
        </h5>
        <div class="author-git">
          <a href="{{ author.git }}">{{ getAuthorGitName(author) }}</a>
        </div>
        <ul class="author-features-list">
          <li class="feature-item" *ngFor="let feature of author.features">
            {{ feature }}
          </li>
        </ul>
      </div>
      <div class="author-about">{{ author.aboutAuthor }}</div>
    </div>
  </ng-container>
</div>
<div class="authors-column" *ngIf="!isPhone">
  <ng-container *ngFor="let author of authors; index as i">
    <div class="dashed-container author id-{{ author.id }}" *ngIf="i % 2">
      <div class="author-photo" [style]="setAuthorPhotoStyle(author)"></div>
      <div class="author-info">
        <h5 class="heading-5">
          {{ author.firstName + ' ' + author.secondName }}
        </h5>
        <div class="author-git">
          <a href="{{ author.git }}">{{ getAuthorGitName(author) }}</a>
        </div>
        <ul class="author-features-list">
          <li class="feature-item" *ngFor="let feature of author.features">
            {{ feature }}
          </li>
        </ul>
      </div>
      <div class="author-about">{{ author.aboutAuthor }}</div>
    </div>
  </ng-container>
</div>
<div class="authors-column" *ngIf="isPhone">
  <div
    class="dashed-container author id-{{ author.id }}"
    *ngFor="let author of authors">
    <div class="author-photo" [style]="setAuthorPhotoStyle(author)"></div>
    <div class="author-info">
      <h5 class="heading-5">
        {{ author.firstName + ' ' + author.secondName }}
      </h5>
      <div class="author-git">
        <a href="{{ author.git }}">{{ getAuthorGitName(author) }}</a>
      </div>
      <ul class="author-features-list">
        <li class="feature-item" *ngFor="let feature of author.features">
          {{ feature }}
        </li>
      </ul>
    </div>
    <div class="author-about">{{ author.aboutAuthor }}</div>
  </div>
</div>
