<app-header></app-header>
<a routerLink="/authorization/register">Registration</a>
<p>login works!</p>
<form class="authorization">
  <input type="text" />
  <input type="email" name="" id="" />
  <input type="password" name="" id="" />
  <button type="submit"></button>
  <div class="text-image">
    <div class="text-wrapper">
      <div class="text-done">
        <img src="../../../assets/img/Vector 11.svg" alt="done" />
        <p>Save hard words</p>
      </div>
      <div class="text-done">
        <img src="../../../assets/img/Vector 11.svg" alt="done" />
        <p>Save your progress</p>
      </div>
      <div class="text-done">
        <img src="../../../assets/img/Vector 11.svg" alt="done" />
        <p>Save your statistics</p>
      </div>
    </div>
    <div class="wrapper-image">
      <img src="../../../assets/img/006 1.png" alt="book" />
    </div>
  </div>
</form>
<app-footer></app-footer>
