<form [formGroup]="form" class="authorization">
  <div class="border">
    <h3 *ngIf="!isUser">Log in</h3>
    <h2 *ngIf="isUser">Hello {{ userName }}</h2>
    <div *ngIf="!isUser">
      <input
        placeholder="Email"
        formControlName="email"
        type="email"
        name="email"
        class="input"
        id="email"
        [ngClass]="{
          invalid: form.get('email')?.invalid && form.get('email')?.touched
        }" />
      <p
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="error">
        Enter valid email
      </p>
      <input
        placeholder="Password"
        formControlName="password"
        type="password"
        name="password"
        class="input"
        id="password"
        [ngClass]="{
          invalid:
            form.get('password')?.invalid && form.get('password')?.touched
        }" />
      <p
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        class="error">
        Min length 8
      </p>
    </div>
    <button
      *ngIf="!isUser"
      type="submit"
      class="login"
      (click)="onSubmit()"
      [disabled]="form.invalid || form.disabled">
      <div class="border-button">Login</div>
    </button>
    <button *ngIf="!isUser" class="register" (click)="goToRegistration()">
      <div class="border-button">Register</div>
    </button>
    <button *ngIf="isUser" class="logout" (click)="logOut()">Logout</button>
    <div class="text-image">
      <div class="text-wrapper">
        <div class="text-done">
          <img src="assets/img/Vector 11.svg" alt="done" />
          <p>Save hard words</p>
        </div>
        <div class="text-done">
          <img src="assets/img/Vector 11.svg" alt="done" />
          <p>Save your progress</p>
        </div>
        <div class="text-done">
          <img src="assets/img/Vector 11.svg" alt="done" />
          <p>Save your statistics</p>
        </div>
      </div>
      <div class="wrapper-image">
        <img src="assets/img/006 1.png" alt="book" />
      </div>
    </div>
  </div>
</form>
