@import '../../../app.component.scss';
.navigation {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  isolation: isolate;
  width: 472px;
  height: 50px;
  background: $levelNavigationOnPageBackground;
  border: 20px solid $cardBackgroundColor;
  border-radius: 50px;
  @include fontSize20;
  color: $textInFormColor;

}
.unregistered-user {
  display: none !important;
}
.navigation-element {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
}
.navigation-element:hover{
  transform: scale(1.05);
}
.big-element {
  width: 50px !important;
  height: 50px !important;
  border-radius: 25px !important;
}
.unit-1 {
  width: 40px;
  height: 40px;
  background: #88e564;
  border: 3px solid #ffffff;
  border-radius: 20px;
  flex: none;
  z-index: 7;

}
.unit-2 {
  width: 40px;
  height: 40px;
  background: #45dec3;
  border: 3px solid #ffffff;
  border-radius: 20px;
  z-index: 6;
}
.unit-3 {
  width: 40px;
  height: 40px;
  background: #64c6e5;
  border: 3px solid #ffffff;
  border-radius: 20px;
  z-index: 5;
}
.unit-4 {
  width: 40px;
  height: 40px;
  background: #508be4;
  border: 3px solid #ffffff;
  border-radius: 20px;
  z-index: 4;
}
.unit-5 {
  width: 40px;
  height: 40px;
  background: #ac64e5;
  border: 3px solid #ffffff;
  border-radius: 20px;
  z-index: 3;
}
.unit-6 {
  width: 40px;
  height: 40px;
  background: #e564b9;
  border: 3px solid #ffffff;
  border-radius: 20px;
  z-index: 2;
}
.unit-7 {
  width: 40px;
  height: 40px;
  background: #eb4949;
  border: 3px solid #ffffff;
  border-radius: 20px;
  z-index: 1;
}
