$loginFormBackground: #d698ec;
$textInFormColor: #ffffff;
$loginButtonBackground: linear-gradient(180deg, #88e564 0%, #6cd244 100%);
$registrationButtonBackground: linear-gradient(
  180deg,
  #ff9100 0%,
  #ff7a00 100%
);
$gameMenuButtonBackground: linear-gradient(180deg, #ffb84d 0%, #ff9100 100%);
$gameMenuButtonPressedBackground: linear-gradient(
  180deg,
  #ff9100 0%,
  #ffb84d 100%
);
$levelNavigationOnPageBackground:linear-gradient(
  90deg,
  #88e564 2.8%,
  #45dec2 18.41%,
  #64c6e5 34.28%,
  #508be4 49.89%,
  #ac64e5 65.76%,
  #e564b9 81.9%,
  #de4848 97.52%
);
$levelNavigationMenuBackground:linear-gradient(
  180deg,
  #88e564 2.8%,
  #45dec2 18.41%,
  #64c6e5 34.28%,
  #508be4 49.89%,
  #ac64e5 65.76%,
  #e564b9 81.9%,
  #de4848 97.52%
);
$formFontFamilyText: 'New Rubrik Edge';
$formDataInvalid: #ff9100;
$currentPageColor: #ff9100;
$formErrorMessageColor: red;
$headerBackgrounColor: #404354;
$paginationNumberColor: #404354;
$logoInnerElement: #037db5;
$menuBackgroundColor: #ffffff;
$cardBackgroundColor: #ffffff;
$cardBorderColor: #eeeeee;
$menuTopBorder: #6cd244;
$currentPageColor: red;
$borderButtonColor: #ffffff;
$paginationArrowDisabled: #b2b3b9;
$borderTitleBlockColor: #64c6e5;

@mixin fontSize14 {
  font-family: $formFontFamilyText;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@mixin boldFontSize14 {
  font-family: $formFontFamilyText;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
}

@mixin fontSize16 {
  font-family: $formFontFamilyText;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}
@mixin fontSize20 {
  font-family: $formFontFamilyText;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25.46px;
}
@mixin fontSize32 {
  font-family: $formFontFamilyText;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40.74px;
}
