@import '../../../../app.component.scss';
.authorization {
  box-sizing: border-box;
  height: 100%;
  border-radius: 10px;
  border: 6px solid $textInFormColor;
  padding: 3px;
  background-color: $loginFormBackground;
  width: 378px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  h2 {
    color: $textInFormColor;
    text-align: center;
  }
}

.text-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
}

.heading-4 {
  @include heading4;
  color: $textInFormColor;
}

.edit {
  background: $loginButtonBackground;
  width: 120px;
  height: 35px;
  &:hover{
    background: $loginHoverButtonBackground
  }
  &:active{
    background: $pressedLoginButton;
  }
}


.logout {
  margin: 0 auto;
  width: 120px;
  height: 34px;
  background: $registrationButtonBackground;
  &:hover{
    background: $gameMenuButtonBackground
  }
}
.border{
  @include border;
  padding: 20px;
  border-radius: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.button-orange {
  padding-top: 2px;
}

@media (max-width: 767.99px) {
  .authorization {
    width: 300px;
  }
  .button-wrapper {
    flex-direction: column;
  }
}
