<div class="wrapper">
  <h4 class="heading-4">Hard words:</h4>
  <div class="table-words">
    <div class="header rows">
      <div><span class="padding table-heading">WORD</span></div>
      <div class="table-heading">TRANSCRIPTION</div>
      <div class="table-heading">TRANSLATE</div>
      <div></div>
    </div>
    <div
      class="pages"
      *ngFor="let page of hardWords; index as i"
      [class.hide]="i !== hardWordsPage">
      <div class="rows" *ngFor="let word of page">
        <div class="word">{{ word.word }}</div>
        <div class="transcription">
          <div class="speaker" (click)="playSound(word.audio)">
            <img src="assets/img/speaker.png" alt="speaker" />
          </div>
          <div>{{ word.transcription }}</div>
        </div>
        <div class="translate">{{ word.wordTranslate }}</div>
        <div class="counter">
          <p>
            {{ word.userWord.optional?.rightGuessesInRow || 0 }}/{{
              threeOrFive(word.userWord.difficulty)
            }}
          </p>
          <div class="button-ok" (click)="setWordEasy(word._id)">
            <img src="assets/img/ok.png" alt="ok" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-paginator
    [currentPage]="hardWordsPage"
    (newItemEvent)="hardWordsPage = $event"
    [pages]="hardWords"></app-paginator>
</div>
