@import '../../../../app.component.scss';

.wrapper{
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  background-color:$textInFormColor;
  border-radius: 10px;
}

.table-words{
  background-color: $textInFormColor;
  box-sizing: border-box;
  min-width: 600px;
  min-height: 445px;
  border-radius: 10px;
  overflow: hidden;
}

.header{
  box-sizing: border-box;
  background: $statisticsTableHeader;
  height: 45px;
  width: 100%;
  color: $textInFormColor;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.padding{
  padding-left: 20px;
}
.rows{
  text-align: left;
  min-height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 45px;
  justify-content: space-between;
  align-items: center;
  &:nth-child(2n){
    background:#F5F5F5;
  }

}

.word {
  padding-left: 20px;
}

.transcription{
  display: flex;
  gap: 10px;
  align-items: center;
}

.speaker{
  background-image: url(/assets/img/speaker.png);
  background-size: cover;
  width: 12px;
  min-height: 12px;
  max-height: 12px;
  cursor: pointer;
}

.button-difficult {
  background-position: center;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  border: 1px dashed $currentPageColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  &:hover{
    border: 1px solid $currentPageColor;
  }
  &:active{
    background: $gameMenuButtonPressedBackground;
  }
}

.button-ok {
  background-position: center;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  border: 1px dashed $activePageColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5px;
  cursor: pointer;
  &:hover{
    border: 1px solid $activePageColor;
  }
  &:active{
    background: $pressedLoginButton;
  }
}

.paginator{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.hide{
  display: none;
}

.page {
  @include font14bold;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  &:hover{
    color: $currentPageColor;
    border: 1px dashed $currentPageColor;
  }
  &:active{
    background: $gameMenuButtonPressedBackground;
  }
}

.current-page{
  color: $currentPageColor;
  border: 1px dashed $currentPageColor;
}

.disabled{
  color:$paginationArrowDisabled;
  &:hover{
    color: $paginationArrowDisabled;
    border: none;
  }
  &:active{
    background: none;
  }
}
