@import '../../../app.component.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.level-selection {
  width: 100%;
}

.game-container {
  @include stroke-container;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  gap: 30px;
  padding: 30px;
  width: 480px;
}

.stats-head {
  display: flex;
  justify-content: space-between;
}

.stats-container {
  @include stroke-container;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 480px;
}

.stats-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.heading-1 {
  @include heading1;
  margin: 30px 0;
}

.game-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.word-picture {
  width: 100%;
}

.game-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.game-score {
  @include heading4;
}

.combo-bonus {
  @include heading5;
}

.green {
  color: $activePageColor;
}

.red {
  color: $borderDifficultColor;
}

.game-word {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.game-stats {
  @include heading4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word-stats {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stats-header {
  @include font12;
  font-weight: 800;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  color: $tableHeadingTextColor;
  background-color: $tableHeadingBgColor;
  height: 45px;
  padding: 0 10px;
  border-radius: 10px 10px 0 0;
}

.word-stat {
  @include font14bold;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 35px;
  padding: 0 10px;
}

.word-stat:nth-child(2n-1) {
  background-color: $tableEvenItemBg;
}

.word-stat:last-child {
  border-radius: 0 0 10px 10px;
}

.stats-transcription {
  display: flex;
}

.transcription-audio {
  width: 14px;
  height: 14px;
  background-image: url('../../../../assets/img/speaker.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.transcription-word {
  @include fontTranscription;
}

.word-translation {
  @include font14;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.timer-line {
  display: flex;
  align-items: center;
  gap: 1px;
  width: 100%;
}

.timer-heading,
.game-timer {
  @include heading4;
  flex-shrink: 0;
  padding-top: 5px;
  margin: 30px;
}

.game-timer {
  width: 35px;
}

.timer-section {
  border-radius: 5px;
  height: 14px;
  width: 100%;
  background-color: $activePageColor;
}

.time-isup {
  animation: reduce-height;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes reduce-height {
  from {
    height: 14px;
    background-color: $borderDifficultColor;
  }
  to {
    height: 5px;
    background-color: $paginationArrowDisabled;
  }
}

.no-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.no-words-heading {
  @include heading4;
}
