@import '../../../app.component.scss';
.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: $headerBackgrounColor;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $desktopWidth;
    margin: 0 auto;
    padding: 0 30px;
    color: $textInFormColor;
    @include fontSize14;
  }
}
a {
  margin-left: 30px;
  text-decoration: none;
}
.ebook,
p {
  cursor: pointer;
}
.menu {
  position: absolute;
  display: flex;
  top: 40px;
  right: -18px;
  width: 110px;
  height: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: $menuBackgroundColor;
  transition: 0.3s;
  opacity: 1;
  z-index: 1;
}
.game-menu {
  visibility: visible;
  position: absolute;
  top: 40px;
  right: -75px;
  transition: 0.3s;
  z-index: 1;
  opacity: 1;
}
.invisible {
  visibility: hidden;
  top: 20px;
  opacity: 0;
  z-index: -1;
}
.logo {
  cursor: pointer;
  position: relative;
  &:hover {
    transform: scale(0.95);
  }
  &:active {
    transform: scale(0.9);
  }
}
.logo-part1,
.logo-part3 {
  @include fontSize32;
  color: $formDataInvalid;
}
.logo-part2 {
  @include fontSize20;
  color: $logoInnerElement;
}
.logo-part4 {
  @include fontSize20;
  color: $textInFormColor;
}
.button-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100%;
  box-sizing: border-box;
  .nav-button {
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.5s;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    .nav-text {
      display: flex;
      align-items: center;
      height: 40px;
      cursor: pointer;
    }
    &:hover {
      border-bottom: 3px solid $activePageColor;
      border-top: 3px solid transparent;
    }
  }
}
.active {
  color: $activePageColor;
  border-bottom: 3px solid $activePageColor;
  border-top: 3px solid transparent;
}
.invisible-link {
  opacity: 0;
  visibility: hidden;
}
.auth-header-background,
.menu-header-background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 15;
  background-color: rgba($color: #000000, $alpha: 0);
  transition: 0.5s;
}
.auth-header {
  position: absolute;
  opacity: 0;
  top: 50px;
  right: 10px;
  transition: 0.5s;
}
.show {
  top: 70px;
  opacity: 1;
}
.show-background {
  background-color: rgba($color: #000000, $alpha: 0.67);
}
.auth-button {
  position: relative;
  width: 42px;
  height: 100%;
  .auth-icon {
    width: 22px;
    height: 22px;
    background: url(^assets/img/auth-icon.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
  }
  .auth-icon:hover {
    filter: invert(24%) sepia(13%) saturate(1985%) hue-rotate(55deg)
      brightness(93%) contrast(92%);
  }
}
.menu-button {
  position: relative;
  width: 42px;
  height: 70px;
  .menu-icon {
    width: 22px;
    height: 22px;
    margin: 24px auto;
    background: url(^assets/img/burger.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
  }
  .menu-icon:hover {
    filter: invert(24%) sepia(13%) saturate(1985%) hue-rotate(55deg)
      brightness(93%) contrast(92%);
  }
}

.menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: -15px;
  background-color: $tableHeadingBgColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: -1;
  font-weight: 800;
}

.game-buttons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  margin-top: 20px;
}

.phone-level-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 250px;
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1279.99px) {
  .header-container .header {
    width: $tabletWidth;
  }
}

@media (max-width: 767.99px) {
  .header-container .header {
    width: $mobileWidth;
  }
  .logo {
    order: 2;
  }
  .button-container {
    order: 1;
  }
  .auth-button {
    order: 3;
  }
  .nav-text {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }
  .active {
    color: white;
    border-bottom: 3px solid white;
  }
  .nav-button {
    padding: 30px;
    margin: 0 auto;
    border-bottom: 1px dashed white;
    width: 50vw;
  }
}
