<div class="header-container">
  <div class="header">
    <div class="logo" routerLink="">
      <span
        class="logo-part{{ i + 1 }}"
        *ngFor="let item of logoParts; let i = index"
        >{{ item }}</span
      >
    </div>
    <div class="button-container" *ngIf="!isPhone">
      <div routerLink="/about" class="nav-button">
        <div class="nav-text" routerLinkActive="active">ABOUT</div>
      </div>
      <div
        (mouseover)="showGamesMenu()"
        (mouseout)="showGamesMenu()"
        class="nav-button">
        <div
          class="nav-text"
          [class.active]="currentPage === AppPages.MiniGames">
          MINI-GAMES
        </div>
        <div class="game-menu" [ngClass]="{ invisible: isGamesMenuInvisible }">
          <app-games-menu></app-games-menu>
        </div>
      </div>
      <div
        class="ebook"
        (mouseover)="showMenu()"
        (mouseout)="showMenu()"
        class="nav-button">
        <div
          class="nav-text"
          [class.active]="currentPage === AppPages.TextBook">
          TEXTBOOK
        </div>
        <app-units-menu
          class="menu"
          [ngClass]="{ invisible: isMenuInvisible }"
          [isAuth]="isUser()"
          [currentLevel]="getLevelPage()"></app-units-menu>
      </div>
      <div
        *ngIf="isUser()"
        [class.invisible-link]="!isUser()"
        routerLink="/statistics"
        routerLinkActive="active"
        class="nav-button">
        <div class="nav-text">DASHBOARD</div>
      </div>
    </div>
    <div class="menu-button" *ngIf="isPhone">
      <div class="menu-icon" (click)="menuShow()" #burger></div>
      <div class="menu-container" *ngIf="isMenuShow">
        <div routerLink="/about" class="nav-button" (click)="menuShow()">
          <div class="nav-text" routerLinkActive="active">ABOUT</div>
        </div>
        <div class="nav-button">
          <div
            class="nav-text games"
            [class.active]="currentPage === AppPages.MiniGames">
            MINI-GAMES
            <div class="game-buttons-container">
              <app-menu-button
                class="game-button"
                [gameName]="game1"
                (click)="menuShow()"
                [routerLink]="[link1, link1Level, link1Page]"></app-menu-button>
              <app-menu-button
                class="game-button"
                [gameName]="game2"
                [routerLink]="link2"
                (click)="menuShow(); resetLevelPage()"></app-menu-button>
            </div>
          </div>
        </div>
        <div class="ebook" class="nav-button">
          <div
            class="nav-text"
            [class.active]="currentPage === AppPages.TextBook">
            TEXTBOOK
          </div>
          <app-units-menu
            class="phone-level-menu"
            [isAuth]="isUser()"
            [currentLevel]="getLevelPage()"
            (click)="menuShow()"></app-units-menu>
        </div>
        <div
          *ngIf="isUser()"
          [class.invisible-link]="!isUser()"
          class="nav-button"
          (click)="menuShow()"
          routerLink="/statistics">
          <div class="nav-text" routerLinkActive="active">DASHBOARD</div>
        </div>
      </div>
    </div>
    <div class="auth-button" *ngIf="isTablet || isPhone">
      <div class="auth-icon" (click)="authShow()"></div>
      <div class="auth-header" *ngIf="isAuthShow" #auth>
        <app-authorization></app-authorization>
      </div>
    </div>
  </div>
</div>
<div
  class="auth-header-background"
  *ngIf="isAuthShow"
  (click)="authShow()"
  #authBackground></div>
<div
  class="menu-header-background"
  *ngIf="isMenuShow"
  (click)="menuShow()"
  #menuBackground></div>
