@import '../../../app.component.scss';
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: $headerBackgrounColor;
  color: $textInFormColor;
  @include fontSize14;
  z-index: 10;
}
a {
  margin-left: 30px;
  text-decoration: none;
}
.ebook,
p {
  cursor: pointer;
}
.invisible {
  margin-top: -100vh;
  transition: 1s;
}
.menu {
  position: fixed;
  display: flex;
  top: 70px;
  right: 330px;
  width: 100px;
  height: fit-content;
  background-color: $menuBackgroundColor;
  transition: 1s;
}
.game-menu {
  position: fixed;
  display: flex;
  top: 70px;
  right: 450px;
  width: 250px;
  height: fit-content;
  background-color: $menuBackgroundColor;
  transition: 1s;
}
.logo {
  cursor: pointer;
  position: relative;
  left: 50px;
}
.logo-part1,
.logo-part3 {
  @include fontSize32;
  color: $formDataInvalid;
}
.logo-part2 {
  @include fontSize20;
  color: $logoInnerElement;
}
.logo-part4 {
  @include fontSize20;
  color: $textInFormColor;
}
.button-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  right: 50px;
}
