@import '../../../app.component.scss';
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: $headerBackgrounColor;
  color: $textInFormColor;
  @include fontSize14;
  z-index: 10;
}
a {
  margin-left: 30px;
  text-decoration: none;
}
.ebook,
p {
  cursor: pointer;
}
.invisible {
  margin-top: -100vh;
  transition: 1s;
}
.menu {
  position: fixed;
  display: flex;
  top: 70px;
  right: 330px;
  width: 110px;
  height: 430px;
  border-top: 5px solid $menuTopBorder;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: $menuBackgroundColor;
  transition: 1s;
  z-index: 9;
}
.game-menu {
  position: fixed;
  display: flex;
  top: 70px;
  right: 450px;
  width: 250px;
  height: fit-content;
  background-color: $menuBackgroundColor;
  transition: 1s;
  z-index: 9;
}

.logo {
  cursor: pointer;
  position: relative;
  left: 50px;
}
.logo-part1,
.logo-part3 {
  @include fontSize32;
  color: $formDataInvalid;
}
.logo-part2 {
  @include fontSize20;
  color: $logoInnerElement;
}
.logo-part4 {
  @include fontSize20;
  color: $textInFormColor;
}
.button-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  right: 50px;
}
.button-container > div{
  cursor: pointer;
}

.active{
  color:$activePageColor;
  border-bottom: 3px solid $activePageColor;
  padding-bottom: 10px;
}
.invisible-link{
  opacity:0;
  visibility: hidden;
}
