@import '../../../app.component.scss';
.authorization {
  box-sizing: border-box;
  height: 100%;
  border-radius: 10px;
  border: 6px solid $textInFormColor;
  padding: 3px;
  background-color: $loginFormBackground;
  width: 378px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-image {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.text-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-done {
  height: 28px;
  display: flex;
  align-items: center;
  color: $textInFormColor;
  gap: 10px;
  p {
    margin: 0;
    padding: 0;
    @include boldFontSize14
  }
}

.input {
  box-sizing: border-box;
  padding-left: 10px;
  width: 320px;
  height: 34px;
  border-radius: 10px;
  border: none;
}

.edit {
  background: $loginButtonBackground;
  width: 91px;
  height: 35px;
  &:hover{
    background: $loginHoverButtonBackground
  }
  &:active{
    background: $pressedLoginButton;
  }
}

.error {
  @include fontSize14;
  transform: translateY(-8px);
  margin: 0%;
  text-align: center;
  color: $formErrorMessageColor;
  -webkit-user-select: none;
}

.invalid {
  background-color: $formDataInvalid;
}

.logout {
  margin: 0 auto;
  width: 90px;
  height: 34px;
  background: $registrationButtonBackground;
  &:hover{
    background: $gameMenuButtonBackground
  }
}
.border{
  @include border;
  padding: 20px;
  border-radius: 10px;
}
p{
  padding-top: 10px;
  @include fontSize14;
  color: $textInFormColor;
  span{
    @include font14bold;
    color: $textInFormColor;
  }
}
.button-image-wrapper{
  display: flex;
  gap: 20px;
}
.button-wrapper {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}
.image-border{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $textInFormColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-button{
  @include border-button;
}

.cancel {
  margin: 0 auto;
  width: 115px;
  height: 34px;
  background: $registrationButtonBackground;
  &:hover{
    background: $gameMenuButtonBackground;
  }
  &:active{
    background: $gameMenuButtonPressedBackground;
  }
}

.register {
  width: 115px;
  height: 34px;
  background: $registrationButtonBackground;
  &:hover{
    background: $gameMenuButtonBackground;
  }
  &:active{
    background: $gameMenuButtonPressedBackground;
  }
}

.login {
  background: $loginButtonBackground;
  width: 91px;
  height: 35px;
  &:hover{
    background: $loginHoverButtonBackground;
  }
  &:active{
    background: $pressedLoginButton;
  }
}

.heading-2 {
  @include fontSize16;
  text-transform: uppercase;
  color: $textInFormColor;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.user-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
