<div class="solid-stroke-container" *ngIf="isAuth && !isPhone" #outerContainer>
  <div class="levels" (mouseleave)="hoverActions(currentLevel)">
    <div class="levels-selection-background" #levelsContainer></div>
    <div class="levels-background" #levelsBackground></div>
    <ng-container
      *ngFor="let unit of unitsAuth"
      class="level-{{ unit.id }}"
      [class.unregistered-user]="!isRegisteredUser(unit.id)">
      <div
        class="level-selector-box"
        (mouseenter)="hoverActions(unit.id)"
        (click)="setSelectedLevel(unit.id); currentLevel = unit.id">
        <div
          class="level-selector"
          [style]="getLevelBackgroundColor(unit.color)"
          [routerLink]="['../textbook', unit.id]"
          #levelsSelector>
          {{ unit.id }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="solid-stroke-container" *ngIf="!isAuth && !isPhone" #outerContainer>
  <div class="levels" (mouseleave)="hoverActions(currentLevel)">
    <div class="levels-selection-background" #levelsContainer></div>
    <div class="levels-background" #levelsBackground></div>
    <ng-container
      *ngFor="let unit of unitsNotAuth"
      class="level-{{ unit.id }}"
      [class.unregistered-user]="!isRegisteredUser(unit.id)">
      <div
        class="level-selector-box"
        (mouseenter)="hoverActions(unit.id)"
        (click)="setSelectedLevel(unit.id); currentLevel = unit.id">
        <div
          class="level-selector"
          [style]="getLevelBackgroundColor(unit.color)"
          [routerLink]="['../textbook', unit.id]"
          #levelsSelector>
          {{ unit.id }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="isAuth && isPhone">
  <ng-container
    *ngFor="let unit of unitsAuth"
    class="level-{{ unit.id }}"
    [class.unregistered-user]="!isRegisteredUser(unit.id)">
    <div
      class="level-selector-box"
      (mouseenter)="hoverActions(unit.id)"
      (click)="setSelectedLevel(unit.id); currentLevel = unit.id">
      <div
        class="level-selector"
        [style]="getLevelBackgroundColor(unit.color)"
        [routerLink]="['../textbook', unit.id]"
        #levelsSelector>
        {{ unit.id }}
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="!isAuth && isPhone">
  <ng-container
    *ngFor="let unit of unitsNotAuth"
    class="level-{{ unit.id }}"
    [class.unregistered-user]="!isRegisteredUser(unit.id)">
    <div
      class="level-selector-box"
      (mouseenter)="hoverActions(unit.id)"
      (click)="setSelectedLevel(unit.id); currentLevel = unit.id">
      <div
        class="level-selector"
        [style]="getLevelBackgroundColor(unit.color)"
        [routerLink]="['../textbook', unit.id]"
        #levelsSelector>
        {{ unit.id }}
      </div>
    </div>
  </ng-container>
</ng-container>
