@import '../../../app.component.scss';
.road-images-wrapper {
  width: 750px;
  height: 454px;
  overflow: hidden;
}
.main-wrapper{
  padding-top: 70px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.learn{
  transform: translate(0%, -141%);
}
.play{
  transform: translate(46%, -206%);
}
.get{
  transform: translate(17%, -223%);
}
.sun{
  transform: translate(51%,-743%);
}
.road{
  transform: translate(29%, 20%);
  .ellipse1{
    transform:translate(175%, -1866%);
  }
  .ellipse2{
    transform: translate(1076%, -1276%);
  }
  .ellipse3{
    transform: translate(-239.2%, 31%);
  }
}
.wrapper{
  box-sizing: border-box;
  display: flex;
  justify-content: center ;
  gap:30px;
  width: 100%;
  height: 250px;
}
.game-wrapper{
  padding: 5px;
  box-sizing: border-box;
  background: $textInFormColor;
  .black-border{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include border;
    border: 1px dashed black;
    border-radius: 10px;
  }
  img{
    height: 95%;
  }
}
button{
  @include button;
  &:hover{
    background: $gameMenuButtonBackground;
  }
  &:active{
    background: $gameMenuButtonPressedBackground;
  }
}
.border{
  @include border;
  border-radius: 8px;;
  margin: auto;
  margin:auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  color: $textInFormColor;
}

.table{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.header{
  background: $statisticsTableHeader;
  height: 45px;
  width: 100%;
  color: $textInFormColor;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.row1{
  height: 100px;
  background: whitesmoke;
}

.speaker{
  background-image: url(/assets/img/speaker.png);
  background-size: cover;
  width: 12px;
  min-height: 12px;
  max-height: 12px;
  cursor: pointer;
}
.button-ok {
  background-position: center;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  border: 1px dashed $activePageColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5px;
  cursor: pointer;
}
.button-difficult {
  background-position: center;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  border: 1px dashed $currentPageColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

.button-ok {
  background-position: center;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  border: 1px dashed $activePageColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5px;
  cursor: pointer;
}

.rows{
  min-height: 45px;
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 45px;
  justify-content: space-between;
  align-items: center;
}

.word {
  width: 150px;
  padding-left: 20px;
}

.transcription{
  width: 150px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.wrapper-words{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap:30px;
  width: 100%;
  flex-wrap: wrap;
}
.first{
  display: none;
}

.paginator{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.header-word {
  padding-left: 40px;
}
