@import '../../../../../../app.component.scss';
.rows{
  padding-left: 20px;
  box-sizing: border-box;
  text-align: left;
  min-height: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: space-between;
  align-items: center;
  &:nth-child(2n){
    background:#F5F5F5;
  }
}

.graphic{
  background: $pressedLoginButton;
  height: 14px;
}
