@import '../../../app.component.scss';
.card {
  position: relative;
  width: fit-content;
  height: 326px;
}
.dashed-container {
  border: 6px solid white;
  position: absolute;
  box-sizing: border-box;
  padding: 27px;
  transition-duration: 0.5s;
  transform-origin: center;
  transform-box: fill-box;
}
.main-part {
  width: 220px;
  background-color: $cardBackgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.word-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.translate-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.word-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.word-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}
.additional-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  margin-top: -20px;
  height: 0;
  transition: margin 0.5s, opacity 1s;
}
.state-buttons,
.meaning-section,
.example-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.word-status {
  position: absolute;
  top: -18px;
  padding: 10px 15px 7px;
  background-color: white;
  border-radius: 10px;
  outline: 1px dashed $dashedStrokeGrey;
  outline-offset: -4px;
  @include fontSize10;
  font-weight: 800;
}
.difficult-status {
  background-color: $currentPageColor;
  outline: 1px dashed white;
  outline-offset: -4px;
  color: white;
}
.learned-status {
  background-color: $borderLearnedColor;
  outline: 1px dashed white;
  outline-offset: -4px;
  color: white;
}
.word-image {
  width: 219px;
  height: 165px;
  margin-bottom: 10px;
}
.speaker,
.speaker-2,
.speaker-3 {
  width: 16px;
  height: 16px;
  background-image: url(^assets/img/speaker.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.speaker-container {
  width: 15px;
  height: 15px;
}
.word {
  @include font20;
  text-transform: capitalize;
}
.transcription {
  @include fontTranscription;
  color: $transcriptionColor;
}
.translate {
  @include font14;
}
.learn {
  width: 37px;
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $headerBackgrounColor;
}
.rate {
  width: 30px;
  height: 33px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  text-align: center;
  color: $headerBackgrounColor;
}

.rate-title,
.learn-title {
  @include fontSize10;
  font-weight: 800;
}
.rate-value,
.learn-value {
  @include fontSize14;
  font-weight: 800;
}
.meaning {
  @include font14;
}
.example {
  color: $exampleTextColor;
  @include font12;
}
.meaning-translate {
  @include font14;
}
.example-translate {
  color: $exampleTextColor;
  @include font12;
}
.button-ok {
  background: url(^assets/img/ok.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  border: 1px dashed $activePageColor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    border: 1px solid $activePageColor;
  }
}

.button-difficult {
  background: url(^assets/img/difficult.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  border: 1px dashed $currentPageColor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    border: 1px solid $currentPageColor;
  }
}
.visible {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
  height: fit-content;
  z-index: 8;
}
.on-top {
  z-index: 8;
  transform: scale(1.05);
}
.difficult-word {
  border: 6px solid $borderDifficultColor;
  outline: 1px dashed white;
  outline-offset: -4px;
  box-sizing: border-box;
}
.difficult-word-additional {
  border-bottom: 6px solid $borderDifficultColor;
  border-left: 6px solid $borderDifficultColor;
  border-right: 6px solid $borderDifficultColor;
  outline: 1px dashed white;
  outline-offset: -4px;
}
.learned-word {
  border: 6px solid $borderLearnedColor;
  outline: 1px dashed white;
  outline-offset: -4px;
  box-sizing: content-box;
}
.learned-word-additional {
  border-bottom: 6px solid $borderLearnedColor;
  border-left: 6px solid $borderLearnedColor;
  border-right: 6px solid $borderLearnedColor;
  outline: 1px dashed white;
  outline-offset: -4px;
}
.green-rate {
  color: $borderLearnedColor;
}

@media (min-width: 768px) and (max-width: 1279.99px) {
  .main-part {
    width: 175px;
  }
  .word-image {
    width: 184px;
    height: 138px;
    margin-bottom: 10px;
  }
  .word {
    @include fontSize16;
    font-weight: 500;
    text-transform: capitalize;
  }
  .card {
    height: 295px;
  }
}

@media (max-width: 767.99px) {
  .dashed-container {
    padding: 20px;
    width: 280px;
    left: 10px;
  }
  .card {
    width: 300px;
  }
  .word-image {
    width: 230px;
  }
  .main-part {
    width: max-content;
  }
}
