@import '../../../app.component.scss';
.cards-container {
  margin-left: 100px;
  margin-bottom: 100px;
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  gap:10px
}

.page-number {
  margin-left: 20px;
  cursor: pointer;
}
.pagination {
  position: relative;
  height: 50px;
  width: fit-content;
  left: 150px;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.title {
  text-align: center;
  position: relative;
}
.title-container {
  z-index: -1;
}
.current-page {
  color: $currentPageColor;
  font-weight: 900;
}

a {
  text-decoration: none;
  display: block;
}
.title-container {
  position: relative;
  top: 100px;
}
