@import '../../../app.component.scss';
.cards-container {
  position: relative;
  margin: 50px auto;
  width: $desktopWidth;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: $desktopIndent;
}

.page-number {
  margin-left: 20px;
  @include font14bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.2s;
  box-sizing: border-box;
  &:hover {
    border-radius: 10px;
    border: 1px dashed $accentColor;
    color: $accentColor;
    width: 28px;
    height: 28px;
  }
  &:active {
    transform: scale(0.9);
  }
}
.pagination {
  position: relative;
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  gap: 5px;
  color: $paginationNumberColor;
}

.pagination-up {
  position: relative;
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  gap: 5px;
  color: $paginationNumberColor;
}

.title {
  text-align: center;
  position: relative;
}
.current-page {
  @include font14bold;
  color: $accentColor;
  width: 29px;
  height: 28px;
  border-radius: 10px;
  border: 1px dashed $accentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}
.title-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  position: relative;
  width: $desktopWidth;
  height: 110px;
  background: $cardBackgroundColor;
  @include shadow4px;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 1;
}
.back,
.forward {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  @include font14bold;
  transition: 0.2s;
  box-sizing: border-box;
  &:hover {
    border-radius: 10px;
    border: 1px dashed $accentColor;
    color: $accentColor;
    width: 28px;
    height: 28px;
  }
  &:active {
    transform: scale(0.9);
  }
}
.disabled {
  color: $paginationArrowDisabled;
  cursor: auto;
  &:hover {
    width: 30px;
    height: 30px;
    border: none;
    color: $paginationArrowDisabled;
  }
  &:active {
    background: none;
  }
}

.title-1 {
  @include fontSize16;
  white-space: nowrap;
}
::ng-deep .button-1 button {
  width: 218px;
}
::ng-deep .button-2 button {
  width: 137px;
}
.learned-page {
  width: 10px;
  height: 10px;
  position: relative;
  top: -20px;
  left: 10px;
  background-image: url(/assets/img/learned-page.png);
}
.learned-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: -5px;
  gap: 10px;
  width: 516px;
  height: 50px;
  background: $borderLearnedColor;
  border-radius: 10px;
  align-self: stretch;
  @include font14bold;
}

.learned-title span {
  color: $cardBackgroundColor;
}
.check-mark {
  background-image: url(/assets/img/check-mark.png);
  width: 24px;
  height: 21px;
}
.game-button {
  width: min-content;
  white-space: nowrap;
}
.select-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}

.play-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: fit-content;
}

.nav-container {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1279.99px) {
  .title-container {
    flex-direction: column;
    width: $tabletWidth;
    height: fit-content;
  }
  .cards-container {
    width: $tabletWidth;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
    gap: 20px;
  }
}

@media (max-width: 767.99px) {
  .nav-container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
  }
  .select-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
  }
  .title-container {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 20px;
  }
  .play-game {
    flex-direction: column;
    align-items: center;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
  .card-width {
    width: 300px;
  }
}
