<div class="table">
  <div class="header">
    <div class="table-heading">ANSWERS</div>
    <div class="table-heading">CORRECT ANSWERS</div>
    <div class="table-heading">LONGEST SERIES</div>
  </div>
  <div class="rows">
    <div class="table-text">{{ sprintStatistics?.today?.attempts || 0 }}</div>
    <div>
      <p class="table-text">
        {{ correctAnswers || 0 }}
      </p>
    </div>
    <div>
      <p class="table-text">
        {{ sprintStatistics?.today?.rightGuessesInRow || 0 }}
      </p>
    </div>
  </div>
</div>
